
@mixin grid-col($extend: xs, $col: 12, $offset: 0, $order: null ) {
    @if $extend == xs {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: $gap;
        padding-left: $gap;

        @include grid-width($col);
        @include grid-offset($offset);
        @include grid-order($order);
    } @else if $extend == sm {
        @media only screen and (min-width: 48em) {
            @include grid-width($col);
            @include grid-offset($offset);
            @include grid-order($order);
        }
    } @else if $extend == md {
        @media only screen and (min-width: 62em) {
            @include grid-width($col);
            @include grid-offset($offset);
            @include grid-order($order);
        }
    } @else if $extend == lg {
        @media only screen and (min-width: 75em) {
            @include grid-width($col);
            @include grid-offset($offset);
            @include grid-order($order);
        }
    } 
}

@mixin grid-width($col) {
    $width: 100% / $columns * $col;
    -ms-flex-preferred-size: $width; 
    flex-basis: $width;
    max-width: $width;    
}
@mixin grid-offset($offset) {
    @if $offset != 0 {
        margin-left: 100% / $columns * $offset;
    }    
}
@mixin grid-order ($order) {
    @if $order != null {
        -webkit-box-ordinal-group: $order+1;
        -ms-flex-order: $order;
        order: $order;
    }
    
}