@import 'flexboxgrid';

@mixin b($color: green) { 
    border: 1px dotted $color;
}


.header, .section-1, .section-2, .footer {
    @include b;
}
.item {
    @include b(red);
}

/* 
*       GRID
*/
.container {
    @extend %container-fluid;
}
.header {
    
    @include grid-row();
    @include grid-row(sm,center);
    .item-1, .item-2, .item-3, .item-4 {
        @include grid-col(xs,12);
        @include grid-col(sm,2);
        height: 100px;
        background-color: lavenderblush;
    }
    
}
.section-1 {
    @include grid-row();
    @include grid-row(sm, start);
    @include grid-row(lg, end);
    .item-1, .item-2, .item-3, .item-4 {
        @include grid-col(xs,12);
        @include grid-col(sm,3);
        height: 100px;
        background-color: lawngreen;
    }
}
.section-2 {
    @include grid-row();
    .item-1 {
        @include grid-col(xs,12);
        @include grid-col(sm,2);
        height: 100px;
        background-color: lightcoral;
    }
    .item-2 {
        @include grid-col(xs,12);
        @include grid-col(sm,10);
        height: 100px;
        background-color: lightcoral;
    }
    
}
.footer {
    @include grid-row($justify-content: center);
    .item-1 {
        @include grid-col(xs,12);
        @include grid-col(sm,6);
        height: 100px;
        background-color: royalblue;
    }
    .item-2 {
        @include grid-col(xs,12);
        @include grid-col(sm,2,4);
        height: 100px;
        background-color: royalblue;
    }
    
}
