/* 
*
*   VARIABLES GRID
* -----------------
*
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* 
*
*    Mixin for setting container
*  -------------------------------
*    
*/
/* 
*
*   Mixin for setting row
* -------------------------
*
*/
/* 
*
*   Mixin for setting column
* ----------------------------
*
*/
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
  background: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #001A33;
}

h1 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 2rem;
}

h1 + p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  text-align: center;
}

h2 {
  color: #001a33;
  font-size: 32px;
  font-weight: 700;
  line-height: 22.4px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
}

h2 + p {
  margin: 0 0 2rem;
}

h3 {
  color: #007FFF;
  font-family: monospace,serif;
  font-size: 1em;
}

p {
  font-size: 1rem;
  line-height: 23px;
  margin-bottom: 0;
  text-align: left;
}

pre {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #e6e6e6;
  border-left-width: 1px;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: .875em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}

code {
  color: #007FFF;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
}

.content {
  position: relative;
  min-height: 1rem;
  margin-bottom: 0;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .content {
    padding: 1rem;
  }
}

.blue {
  background: #007FFF;
}

.blue-middle {
  background: #06C;
  border-color: #007FFF;
}

.blue-hard {
  background: #036;
  border-color: #007FFF;
}

header {
  padding: 2rem;
  background: #FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  text-align: center;
}

.main {
  /*  grid container  */
  width: 100%;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 576px) {
  .main {
    /*  grid container  */
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main {
    /*  grid container  */
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main {
    /*  grid container  */
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main {
    /*  grid container  */
    max-width: 1140px;
  }
}

.main .responsive .row-1, .main .responsive .row-2, .main .responsive .row-3, .main .responsive .row-4 {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.main .responsive .row-1 .col-1 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 12 column */
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 575px) {
  .main .responsive .row-1 .col-1 {
    /* grid column setting sm */
    /* grid 3 column */
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .main .responsive .row-1 .col-1 {
    /* grid column setting md */
    /* grid 2 column */
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 992px) {
  .main .responsive .row-1 .col-1 {
    /* grid column setting lg */
    /* grid 1 column */
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

.main .responsive .row-1 .col-2 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 6 column */
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

@media (min-width: 575px) {
  .main .responsive .row-1 .col-2 {
    /* grid column setting sm */
    /* grid 6 column */
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .main .responsive .row-1 .col-2 {
    /* grid column setting md */
    /* grid 8 column */
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media (min-width: 992px) {
  .main .responsive .row-1 .col-2 {
    /* grid column setting lg */
    /* grid 10 column */
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

.main .responsive .row-1 .col-3 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 6 column */
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

@media (min-width: 575px) {
  .main .responsive .row-1 .col-3 {
    /* grid column setting sm */
    /* grid 3 column */
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .main .responsive .row-1 .col-3 {
    /* grid column setting md */
    /* grid 2 column */
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 992px) {
  .main .responsive .row-1 .col-3 {
    /* grid column setting lg */
    /* grid 1 column */
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

.main .responsive .row-2 .col-1 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 12 column */
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 575px) {
  .main .responsive .row-2 .col-1 {
    /* grid column setting sm */
    /* grid 3 column */
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .main .responsive .row-2 .col-1 {
    /* grid column setting md */
    /* grid 2 column */
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 992px) {
  .main .responsive .row-2 .col-1 {
    /* grid column setting lg */
    /* grid 1 column */
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

.main .responsive .row-2 .col-2 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 12 column */
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 575px) {
  .main .responsive .row-2 .col-2 {
    /* grid column setting sm */
    /* grid 9 column */
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  .main .responsive .row-2 .col-2 {
    /* grid column setting md */
    /* grid 10 column */
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media (min-width: 992px) {
  .main .responsive .row-2 .col-2 {
    /* grid column setting lg */
    /* grid 11 column */
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
}

.main .responsive .row-3 .col-1 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 10 column */
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

@media (min-width: 575px) {
  .main .responsive .row-3 .col-1 {
    /* grid column setting sm */
    /* grid 6 column */
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .main .responsive .row-3 .col-1 {
    /* grid column setting md */
    /* grid 8 column */
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media (min-width: 992px) {
  .main .responsive .row-3 .col-1 {
    /* grid column setting lg */
    /* grid 10 column */
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

.main .responsive .row-3 .col-2 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 2 column */
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

@media (min-width: 575px) {
  .main .responsive .row-3 .col-2 {
    /* grid column setting sm */
    /* grid 6 column */
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .main .responsive .row-3 .col-2 {
    /* grid column setting md */
    /* grid 4 column */
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .main .responsive .row-3 .col-2 {
    /* grid column setting lg */
    /* grid 2 column */
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.main .responsive .row-4 .col {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid auto column */
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.main .offsets .row {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.main .offsets .row .col-1 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 1 column */
  -ms-flex: 0 0 8.33333%;
  -webkit-box-flex: 0;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  /* grid offset 11 */
  margin-left: 91.66667%;
}

.main .offsets .row .col-2 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 2 column */
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  /* grid offset 10 */
  margin-left: 83.33333%;
}

.main .offsets .row .col-3 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 3 column */
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
  /* grid offset 9 */
  margin-left: 75%;
}

.main .offsets .row .col-4 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 4 column */
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  /* grid offset 8 */
  margin-left: 66.66667%;
}

.main .offsets .row .col-5 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 5 column */
  -ms-flex: 0 0 41.66667%;
  -webkit-box-flex: 0;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  /* grid offset 7 */
  margin-left: 58.33333%;
}

.main .offsets .row .col-6 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 6 column */
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  /* grid offset 6 */
  margin-left: 50%;
}

.main .offsets .row .col-7 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 7 column */
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  /* grid offset 5 */
  margin-left: 41.66667%;
}

.main .offsets .row .col-8 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 8 column */
  -ms-flex: 0 0 66.66667%;
  -webkit-box-flex: 0;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  /* grid offset 4 */
  margin-left: 33.33333%;
}

.main .offsets .row .col-9 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 9 column */
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
  /* grid offset 3 */
  margin-left: 25%;
}

.main .offsets .row .col-10 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 10 column */
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  /* grid offset 2 */
  margin-left: 16.66667%;
}

.main .offsets .row .col-11 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 11 column */
  -ms-flex: 0 0 91.66667%;
  -webkit-box-flex: 0;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  /* grid offset 1 */
  margin-left: 8.33333%;
}

.main .auto-width .row {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.main .auto-width .row .col {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid auto column */
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.main .nested-grids .content {
  padding: 1rem;
  margin-bottom: 0;
}

.main .nested-grids .row {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.main .nested-grids .row .col {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid auto column */
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.main .alignment .row-start {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.main .alignment .row-start .row-sub {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.main .alignment .col-1 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid auto column */
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.main .alignment .col-11 {
  /* grid column setting xs */
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* grid 6 column */
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.main .alignment .row-center {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.main .alignment .row-center .row-sub {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main .alignment .row-end {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.main .alignment .row-end .row-sub {
  /*  grid setting row xs */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/*# sourceMappingURL=main.css.map */